@page "/"

<div>
    <textarea style="width: 400px; height: 800px;" placeholder="Vul hier je JSON objecten met een periode in." @onchange="@TextEvent"></textarea>
</div>
<div>
    <input type="button" value="Toon" @onclick="ValideerInvoer" />
</div>


@if (!string.IsNullOrEmpty(OngeldigeInvoer))
{
    <span style="color:red;">@(OngeldigeInvoer)</span>
}
