@using TijdlijnVisualizer.Web.Components
@page "/Overzicht"

<JaarTijdlijn TijdlijnGeselecteerd="ZetDetailOverzicht"></JaarTijdlijn>

<div>
    <input value="Terug" type="button" @onclick="NavNaarInvoer" />
</div>


@if (GeselecteerdTijdlijn != null)
{
    <DetailOverzicht Tijdlijn="GeselecteerdTijdlijn"></DetailOverzicht> 
}
