@using TijdlijnVisualizer.Web.Components
@page "/Overzicht"

<JaarTijdlijn TijdlijnGeselecteerd="ZetDetailOverzicht"></JaarTijdlijn>

<div class="input-group-sm" style="margin:20px; width: auto;">
    <button type="button" class="btn btn-primary" @onclick="NavNaarInvoer">Terug naar invoer</button>
</div>

@if (GeselecteerdTijdlijn != null)
{
    <DetailOverzicht Tijdlijn="GeselecteerdTijdlijn"></DetailOverzicht> 
}
